<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo/vita.ico') }}">
    <title>Activate Your Account</title>
</head>
<body>
    <p>Hi,</p>
    <p>Thank you for registering. Please click the link below to activate your account:</p>
    <p><a href="{{ confirm_url }}">Activate Your Account</a></p>
    <p>This link will expire in 1 hour.</p>
</body>
</html>
