
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo/vita.ico') }}">
    <title>Reset Your Password Request</title>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_register.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <style>
        .social-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
        .social-buttons .btn {
            flex: 1;
        }
        .image-holder img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body style="background-color: #ECECEC;">

<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="{{ url_for('static', filename='img/registration.png') }}" alt="Registration Image">
        </div>
        <form method="post" >
            <h3>Reset Your Password Request</h3>
        
            
            
            <div class="form-wrapper">
                <input type="text" name="email" placeholder="Email address" class="form-control" required>
            </div>
            
            <button type="submit" class="btn btn-outline-success btn-block">Reset
                <i class="bi bi-arrow-right"></i>
            </button>
           
            <div class="already-account text-center mt-3">
                <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
                
            </div>
        </form>
    </div>
</div>

</body>
</html>
